<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiArrowDown } from "@mdi/js";
import { ref } from "vue";
const showTable = ref(false);
function change() {
  if (showTable.value == false) {
    showTable.value = true;
  } else {
    showTable.value = false;
  }
}
</script>

<template>
  <v-card class="mx-auto" max-width="344">
    <v-img
      src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/206410642_4056849237758937_2788494991655600877_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHSKxubMhn5lH8SEfdVbcPrFndnOefF99gWd2c558X32AwagBKUbP8GR8GJhX6ZdEiC-eMMRPGNEMpfDJiY6py_&_nc_ohc=xvsmJFCxjX4AX-FtfGB&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCkGaDTGF5j_7stLakc0bwYO1kkWGueHH8o6P-oBqA6IA&oe=63C6994D"
      height="200px"
      cover
    ></v-img>

    <v-card-title>Pasin Rukwarakul</v-card-title>

    <v-card-subtitle> 63160207 </v-card-subtitle>

    <v-card-actions @click="change()">
      <FancyButton><v-icon :icon="mdiArrowDown" />Explor </FancyButton>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
  <v-container v-if="showTable">
    <v-row>
      <v-col style="text-align: center; color: orange; font-size: 25px"
        >School</v-col
      >
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>logo</th>
              <th>School Name</th>
              <th>Grade</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-avatar size="40px">
                  <v-img
                    src="https://upload.wikimedia.org/wikipedia/th/thumb/8/82/%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%97%E0%B8%A7%E0%B8%B5%E0%B8%98%E0%B8%B2%E0%B8%A0%E0%B8%B4%E0%B9%80%E0%B8%A8%E0%B8%81.png/250px-%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%97%E0%B8%A7%E0%B8%B5%E0%B8%98%E0%B8%B2%E0%B8%A0%E0%B8%B4%E0%B9%80%E0%B8%A8%E0%B8%81.png"
                  ></v-img>
                </v-avatar>
              </td>
              <td>Taweethapisek</td>
              <td>3.5</td>
              <td>2019</td>
            </tr>
            <tr>
              <td>
                <v-avatar size="40px">
                  <v-img
                    src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/301144785_733688031210375_7422696978006137185_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHPFNuBF7t1GyPmz71pXaa-4epeFXbJG9vh6l4Vdskb21PLO4c4puRjX1beqL5xJ2OcQz6J69BpMKUYr_n-ARvh&_nc_ohc=ooZuO7bmlfgAX9ugAVe&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfBgxwJz08geuht-Mjln4B5ofWdHPYNOs0KU_1B2jqoN5Q&oe=63A4CB19"
                  ></v-img>
                </v-avatar>
              </td>
              <td>Saiprasit Vitthaya</td>
              <td>2.0</td>
              <td>2013</td>
            </tr>
          </tbody>
        </v-table>
        <v-row>
          <v-col style="text-align: center; color: red; font-size: 25px"
            >Favorit</v-col
          >
        </v-row>
        <v-row class="justify-center"></v-row>
        <v-table>
          <thead>
            <tr>
              <th>Img</th>
              <th>Name</th>
              <td>Type</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-avatar size="50px">
                  <v-img
                    src="https://logos-world.net/wp-content/uploads/2020/12/Dota-2-Logo-700x394.png"
                  ></v-img>
                </v-avatar>
              </td>
              <td>Game PC</td>
              <td>defence of the ancients 2</td>
            </tr>
            <tr>
              <td>
                <v-avatar size="50px">
                  <v-img
                    src="https://files.gqthailand.com/uploads/s429.jpg"
                  ></v-img>
                </v-avatar>
              </td>
              <td>Movie</td>
              <td>ShawShank</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
