<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/206410642_4056849237758937_2788494991655600877_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHSKxubMhn5lH8SEfdVbcPrFndnOefF99gWd2c558X32AwagBKUbP8GR8GJhX6ZdEiC-eMMRPGNEMpfDJiY6py_&_nc_ohc=xvsmJFCxjX4AX-FtfGB&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCkGaDTGF5j_7stLakc0bwYO1kkWGueHH8o6P-oBqA6IA&oe=63C6994D"
          title="Pasin Rukwarakul"
          subtitle="Pasin544@gmail.com"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My ProFiles"
          value="MyProFiles"
          to="/My-ProFiles"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCursorPointer,
  mdiVuetify,
  mdiStar,
  mdiAccountMultiple,
  mdiFolder,
  mdiCheckboxMarkedCircle,
} from "@mdi/js";

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
